@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');

.form-container{
  display: flex;
}
.booking-form {
  /* margin-top: 3rem;
  margin-bottom: 3rem; */
  background-color: #dbdbdb;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Baloo 2', cursive;
  padding: 20px;
}


.booking-form h2 {
  font-size: 32px;
  color: #4b6cb7;
  text-align: center;
}

.booking-form label {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
  width: 80%;
}

.booking-form input, 
.booking-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-family: 'Baloo 2', cursive;
}

.booking-form input:focus, 
.booking-form textarea:focus {
  background-color: #dbdbdb;
  outline: none;
}

.booking-form textarea {
  width: 90%;
  resize: none;
  height: 100px;
}

.booking-form button {
  width: 80%;
  padding: 15px;
  background-color: #6b96ec;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Baloo 2', cursive;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.booking-form button:hover {
  background-color: #4880ef;
}

.booking-form button:active {
  background-color: #4b6cb7;
}

/* Media query for screens below 468px */
@media (max-width: 468px) {
  .booking-form {
    padding: 15px;
  }

  form {
    max-width: 100%;
    padding: 15px;
  }

  .booking-form button {
    padding: 15px;
    font-size: 14px;
  }
}
