.page_404 {
    padding: 40px 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-404 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content-404 h1 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
