/* navigation */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #6b96ec;
    z-index: 10;
}

nav {
    max-width: 1440px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Oswald";
}

.left,
.right {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    margin: 0 1rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #e8dfdf;
}

.logo {
    width: 18rem;
    height: 6rem;
    background-image: url('/assets/images/white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 2rem;
}

/* Social media icons */
.top-social{
    display: flex;
    flex-direction: row;
}
.social-icon {
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
    font-size: 1.7rem;
}

.social-icon:hover {
    color: #292626;
}

/* Burger menu */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu .line {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 4px;
    transition: all 0.3s ease-in;
}

#menu-toggle {
    display: none;
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1350px) {
    nav ul {
        position: absolute;
        top: 100%;
        left: -10px;
        right: 0;
        background: #6b96ec;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        display: none;
        z-index: 999;
        max-height: 90vh;
        overflow-y: auto;
        /* padding: 0; */
        /* margin: 0;  */
    }

    nav ul li {
        margin: 10px 0;
        padding: 0 25px;
    }

    .burger-menu {
        display: flex;
    }

    .menu-toggle:checked~.nav-links {
        display: flex;
    }

    .menu-toggle:checked+.burger-menu .line:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .menu-toggle:checked+.burger-menu .line:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked+.burger-menu .line:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
    }

    .top-social {
        z-index: 1;
        margin-right: 2rem;
        display: flex;
        align-items: center;
    }

    .user-link {
        margin-right: 1rem;
    }

    .links {
        margin-left: 0.2rem
    }

    .social-icon {
        margin-left: 2rem;
    }
}

/* Further size reductions */
@media screen and (max-width: 850px) {
    .top-social {
        margin-right: 0.3rem;
    }

    .links {
        margin-left: 0rem;
    }
    nav ul{
        width: 60%;
    }
}

/* Adjustments for smaller devices */
@media screen and (max-width: 700px) {
    .logo {
        width: 14rem;
        height: 5rem;
    }

    .top-social {
        margin-left: auto;
    }

    .burger-menu {
        margin-left: 0.1rem;
    }

    /* Reduce spacing between social icons */
    .social-icon {
        margin-left: 0.5rem;  /* Reduced spacing */
        margin-right: 0.5rem; /* Reduced spacing */
    }
}

@media screen and (max-width: 600px) {
    .logo {
        width: 13rem;
        height: 5rem;
        margin-left: 0;
        margin-right: 0.4rem;
    }

    .top-social {
        margin-left: auto;
    }

    .burger-menu {
        margin-left: 0;
    }

    /* Reduce spacing between social icons */
    .social-icon {
        margin-left: 0.1rem;  /* Reduced spacing */
        margin-right: 0.2rem; /* Reduced spacing */
    }
}

@media screen and (max-width: 500px) {
  
    .top-social {
        flex-direction: column;
    }

    .logo {
        width: 10rem;
    }
}

@media screen and (max-width: 450px) {
    .logo {
        width: 9rem;
    }
    .top-social {
        margin-left: auto;
    }
   
}

