.intro-container {
    
    height: 8rem;
    background: #6b96ec;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center; 
   
}
.into-header{
    height: 3rem;
}
.into-header h1{
   font-size: 1.5rem;
   margin: 0.3rem;
   margin-top: 0.4rem;
   padding: 0;
   text-align: center;
   color: #e8dfdf;

}
.intro-text {
    color: #e8dfdf;
    white-space: nowrap; 
    display: inline-block;
    animation: scrollText 40s linear infinite; 
    font-size: 1.5rem;
    padding-left: 100%; /* Start the animation from off-screen */
}

.hero-icon {
    width: 60px; 
    height: auto;
    vertical-align: middle; 
    margin-left: 10px;
}

/* Keyframes for the scrolling animation */
@keyframes scrollText {
    0% {
        transform: translateX(100%); /* Start off-screen */
    }
    100% {
        transform: translateX(-100%); 
    }
}

/* @media screen and (max-width: 500px) {
    .intro-container {
        height: 4rem;
    }
} */
@media screen and (max-width: 930px) {
    .into-header h1{
        font-size: 1.5rem;
     }
}
@media screen and (max-width: 480px) {
    .into-header h1{
        font-size: 1.2rem;
     }
}
@media screen and (max-width: 400px) {
    .into-header h1{
        font-size: 1.1rem;
     }
}