/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');

.signup {
  
  display: flex;
  margin-top: 0;
  background-color: #dbdbdb;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: #f2f2f2;
  border-radius: 10px;
  max-width: 360px;
  margin: auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Baloo 2', cursive;
}

form input {
  outline: none;
  background-color:#dbdbdb;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Baloo 2', cursive;
}

form input:focus {
  background-color: #dbdbdb;
}

form button {
  font-family: 'Baloo 2', cursive;
  text-transform: uppercase;
  background-color: #6b96ec;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 35px;

  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:active {
  background-color: #4b6cb7;
}

form span {
  font-size: 32px;
  color: #6b96ec;
  margin-bottom: 25px;
  display: block;
}

form p.error {
  margin: 0 0 10px 10px;
  text-align: left;
  font-size: 12px;
  color: red;
} */

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');

.signup {
  display: flex;
  margin-top: 0;
  background-color: #dbdbdb;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.form {
  background-color: #f2f2f2;
  border-radius: 10px;
  max-width: 360px;
  margin: auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Baloo 2', cursive;
}

.form input {
  outline: none;
  background-color:#dbdbdb;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Baloo 2', cursive;
}

.form input:focus {
  background-color: #dbdbdb;
}

.form button {
  font-family: 'Baloo 2', cursive;
  text-transform: uppercase;
  background-color: #6b96ec;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 35px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:active {
  background-color: #4b6cb7;
}

.form span {
  font-size: 32px;
  color: #6b96ec;
  margin-bottom: 25px;
  display: block;
}

.forgot-password {
  margin-top: 20px;
}

.upload-container {
  margin-bottom: 15px;
  text-align: left;
}

.upload-container input {
  background-color: #ffffff;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
  text-align: left;
}

.google-btn {
  margin-top: 15px;
}
