.slider {
    position: relative;
    width: 80%;
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}


.slider-image {
    width: 100%;
    /* min-height: 250px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.5s ease;
    border-radius: 0.5rem;
}

/* Left and right arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: white;
    cursor: pointer;
    padding: 0 20px;
    user-select: none;
    z-index: 1;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

/* Dots container */
.dots-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Individual dot */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Active dot */
.dot.active {
    background-color: white;
}

@media screen and (max-width: 768px) {
    .slider {
        max-height: 400px;
        padding-bottom: 30px;

    }
}

@media screen and (max-width: 650px) {
    .slider {
        max-height: 220px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .slider {
        max-height: 220px;
    }
}

@media screen and (max-width: 550px) {
    .slider {
        max-height: 220px;
        padding-top: 30px;
    }
}

@media screen and (max-width: 500px) {
    .slider {
        max-height: 300px;

    }
}

@media screen and (max-width: 450px) {
    .slider {
        max-height: 300px;
        padding-top: 65px;
        padding-bottom: 55px;

    }
}